<!-- View for creating a new `Post` -->
<!-- See http://guides.rubyonrails.org/form_helpers.html#dealing-with-basic-forms for more information -->
<div class="container">
<h3>New Post</h3>

<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>


<h4><%= link_to 'Back', posts_path %></h4>
</div>